<div class="mb-3">
  <label for="branchFilter" class="form-label">Şube Filtreleme</label>
  <input
    type="text"
    [(ngModel)]="branchFilter"
    class="form-control"
    id="branchFilter"
    placeholder="Filtre"
  />
</div>

<table class="table table-striped" *ngIf="dataLoaded == true">
  <thead class="table-dark">
    <tr>
      <th scope="col">Şehir</th>
      <th scope="col">Şube Adı</th>
      <th scope="col">Güncelle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let branchDetailDto of branchDetailDtos | branchsFilter: branchFilter
      "
    >
      <td>
        {{ branchDetailDto.cityName }}
      </td>
      <td>
        {{ branchDetailDto.branchName }}
      </td>

      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#update"
          data-bs-whatever="@mdo"
          (click)="createBranchDetail(branchDetailDto.branchId)"
        >
          Güncelle
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#delete"
          data-bs-whatever="@mdo"
          (click)="createBranchDetail(branchDetailDto.branchId)"
        >
          Sil
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#add"
  data-bs-whatever="@mdo"
>
  Ekle
</button>

<!-- Branch Ekleme modal -->
<div
  class="modal fade"
  id="add"
  tabindex="-1"
  aria-labelledby="addLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLabel">Şube Ekleme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="branchAddForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Şehir:</label>
            <div>
              <select formControlName="cityId" id="cityId" class="form-group">
                <option
                  *ngFor="let city of cities; let i = index"
                  [ngValue]="cities[i].cityId"
                >
                  {{ cities[i].cityName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Şube Adı:</label>
            <div class="form-group">
              <input
                type="text"
                id="branchName"
                formControlName="branchName"
                class="form-control"
                placeholder="Şube Adı"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kapat
            </button>
            <button type="button" class="btn btn-primary" (click)="add()">
              Kaydet
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Branch Güncelleme Modal -->
<div
  class="modal fade"
  id="update"
  tabindex="-1"
  aria-labelledby="updateLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateLabel">Şube Güncelleme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="branchUpdateAndDeleteForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Şehir:</label>
            <div>
              <select formControlName="cityId" id="cityId" class="form-group">
                <option
                  *ngFor="let city of cities; let i = index"
                  [ngValue]="cities[i].cityId"
                >
                  {{ cities[i].cityName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Şube Adı:</label>
            <div class="form-group">
              <input
                type="text"
                id="branchName"
                formControlName="branchName"
                class="form-control"
                placeholder="Şube Adı"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kapat
            </button>
            <button type="button" class="btn btn-primary" (click)="update()">
              Güncelle
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Branch Silme Modal -->
<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  aria-labelledby="deleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLabel">Şube Silme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="branchUpdateAndDeleteForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Şehir:</label>
            <div>
              <select formControlName="cityId" id="cityId" class="form-group">
                <option
                  disabled
                  *ngFor="let city of cities; let i = index"
                  [ngValue]="cities[i].cityId"
                >
                  {{ cities[i].cityName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Şube Adı:</label>
            <div class="form-group">
              <input
                [readonly]="true"
                type="text"
                id="branchName"
                formControlName="branchName"
                class="form-control"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kapat
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="delete()"
            >
              Sil
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
