<div class="mb-3">
  <label for="gearFilter" class="form-label">Vites Filtreleme</label>
  <input
    type="text"
    [(ngModel)]="gearFilter"
    class="form-control"
    id="gearFilter"
    placeholder="Filtre"
  />
</div>

<table class="table table-striped" *ngIf="dataLoaded == true">
  <thead class="table-dark">
    <tr>
      <th scope="col">Vites</th>
      <th scope="col">Güncelle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gear of gears | gearsFilter:gearFilter">
      <td>
        {{ gear.gearName }}
      </td>

      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#update"
          data-bs-whatever="@mdo"
          (click)="createGearDetail(gear)"
        >
          Güncelle
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#delete"
          data-bs-whatever="@mdo"
          (click)="createGearDetail(gear)"
        >
          Sil
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#add"
  data-bs-whatever="@mdo"
>
  Ekle
</button>

<!-- Gear Ekleme modal -->
<div
  class="modal fade"
  id="add"
  tabindex="-1"
  aria-labelledby="addLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLabel">Vites Ekleme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="gearAddForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Vites Adı:</label
            >
            <div class="form-group">
              <input
                type="text"
                id="gearName"
                formControlName="gearName"
                class="form-control"
                placeholder="Vites Adı"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kapat
            </button>
            <button type="button" class="btn btn-primary" (click)="add()">
              Kaydet
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Gear Güncelleme Modal -->
<div
  class="modal fade"
  id="update"
  tabindex="-1"
  aria-labelledby="updateLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateLabel">Vites Güncelleme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="gearUpdateAndDeleteForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Vites Adı:</label
            >
            <div class="form-group">
              <input
                type="text"
                id="gearName"
                formControlName="gearName"
                class="form-control"
                placeholder="Vites Adı"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kapat
            </button>
            <button type="button" class="btn btn-primary" (click)="update()">
              Güncelle
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Gear Silme Modal -->
<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  aria-labelledby="deleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLabel">Vites Silme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="gearUpdateAndDeleteForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Vites Adı:</label
            >
            <div class="form-group">
              <input
                [readonly]="true"
                type="text"
                id="gearName"
                formControlName="gearName"
                class="form-control"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kapat
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="delete()"
            >
              Sil
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
