<div class="asd" *ngIf="registerForm">
  <form [formGroup]="registerForm">
    <h1 class="h3 mb-3 fw-normal" *ngIf="!getRole()">Kayıt Ol</h1>
    <h1 class="h3 mb-3 fw-normal" *ngIf="getRole()=='Yönetici'">Kullanıcı Kayıt Et</h1>
    <h1 class="h3 mb-3 fw-normal" *ngIf="getRole()=='Çalışan'">Müşteri Kayıt Et</h1>
    <div class="form-floating">
      <input
        formControlName="firstName"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Adı"
      />
      <label for="floatingInput">Adı</label>
    </div>
    <div class="form-floating">
      <input
        formControlName="lastName"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Soyadı"
      />
      <label for="floatingInput">Soyadı</label>
    </div>
    <div class="form-floating">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="Mail Adresi"
      />
      <label for="floatingInput">Mail Adresi</label>
    </div>
    <div class="form-floating">
      <input
        formControlName="nationalityId"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="TC No"
      />
      <label for="floatingInput">TC No</label>
    </div>
    
    <div class="form-floating">
      <select
          formControlName="birthYear"
          id="birthYear"
          class="form-control"
        >
          <option
            *ngFor="let birthYear of birthYears; let i = index"
            [ngValue]="birthYears[i]"
          >
            {{ birthYears[i] }}
          </option>
        </select>
      <label for="floatingInput">Doğum Yılı</label>
    </div>
    <div class="form-floating">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Şifre"
      />
      <label for="floatingPassword">Şifre</label>
    </div>

    <div class="form-floating" *ngIf="getRole()=='Yönetici'">
      <select formControlName="claimId" id="claimId" class="form-control">
        <option
          *ngFor="let operationClaim of operationClaims; let i = index"
          [ngValue]="operationClaims[i].claimId"
        >
          {{ operationClaims[i].claimName }}
        </option>
      </select>
      <label for="floatingInput">Yetki</label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit" (click)="register()"  *ngIf="!getRole()">
      Kayıt Ol
    </button>

    <button class="btn btn-lg btn-primary" type="submit" (click)="register()" *ngIf="getRole()=='Yönetici' || getRole()=='Çalışan'">
      Kayıt Et
    </button>
  </form>
</div>
